body {
  background-color: #B3B5DE;
  font-family: 'Mali';
}

.searchComp {
  text-align: center;
}

.headerComp {
  border: #2A1F1F 5px solid;
  background-color: #C87373;
  width: 500px;
  padding: 20px;
  margin: auto;
  text-align: center;
  margin-top: 20px;

}

.form-control {
  width: 300px;
  text-align: center;
  margin: auto;
}

.listItem {
  font-size: 1.5em;
  width: 50%;
  margin: auto;
}
